.nav {
  background: #131313;
  color: #f1f1f1;
  padding: 26px 3.5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  padding: 10px;
  border: none;
  width: 25vw;
  border-radius: 5px;
}
