.featured-container {
  display: flex;
  width: 93%;
  margin: 5vh auto 0;
}

.featured-card {
  width: 55%;
  position: relative;
  cursor: pointer;
}

.featured-img {
  width: 100%;
  border-radius: 10px;
  height: 440px;
  max-height: 440px;
}

.featured-heading {
  position: absolute;
  top: 0;
  color: white;
  border-radius: 10px 0 0 0;
  padding: 10px 16px;
  font-size: 1.5vw;
}

.featured-heading {
  position: absolute;
  background-color: red;
}

.featured-text {
  position: absolute;
  bottom: 3px;
  padding: 15px 20px 30px 20px;
  color: #fff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.627), rgba(0, 0, 0, 0.7));
  border-radius: 0 0 10px 10px;
}

.featured-title {
  font-weight: bold;
  font-size: 1.7vw;
}

.random-articles-container {
  width: 45%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.side-article {
  display: flex;
  cursor: pointer;
  min-height: 140px;
  max-height: 140px;
}

.side-article-img {
  width: 40%;
  border-radius: 10px;
}

.side-article-text {
  padding: 10px;
}

.side-article-title {
  margin: 10px 0 0;
}

a {
  color: #000;
}

/* Media Queries */
/* Mobile */
@media only screen and (max-width: 800px) {
  .featured-container {
    display: flex;
    flex-direction: column;
  }

  .featured-card {
    width: 100%;
  }

  .featured-img {
    width: 100%;
    height: auto;
  }

  .featured-heading {
    font-size: 18px;
  }

  .random-articles-container {
    width: 100%;
    padding: 0;
    margin: 20px 0 0;
  }

  .side-article {
    display: flex;
    cursor: pointer;
    min-height: 140px;
    max-height: 140px;
    margin: 14px 0;
  }

  .featured-text {
    width: 100%;
  }

  .featured-text p {
    width: 100%;
    font-size: 15px;
  }
}
